<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.transaction.dao.AccountMapper">
    <resultMap id="BaseResultMap" type="com.spring.transaction.pojo.Account">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, money
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from account
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.spring.transaction.pojo.Account">
    insert into account (id, name, money
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.spring.transaction.pojo.Account">
        insert into account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="money != null">
                money,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.spring.transaction.pojo.Account">
        update account
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.spring.transaction.pojo.Account">
    update account
    set name = #{name,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="outAccount" parameterType="com.spring.transaction.pojo.Account">
    update account
    set money = money-#{reduce,jdbcType=DECIMAL}
    where name = #{outAccount,jdbcType=VARCHAR}
  </update>
    <update id="inAccount" parameterType="com.spring.transaction.pojo.Account">
    update account
    set money = money+#{add,jdbcType=DECIMAL}
    where name = #{inAccount,jdbcType=VARCHAR}
  </update>
</mapper>